<div class="button">
  <button (click)="addStudent()" mat-flat-button color="primary">Agregar alumno</button>

<table mat-table [dataSource]="students">
  <ng-container matColumnDef="id">
    <th mat-header-cell *matHeaderCellDef>No.</th>
    <td mat-cell *matCellDef="let student">{{ student.id }}</td>
  </ng-container>
  <ng-container matColumnDef="firstName">
    <th mat-header-cell *matHeaderCellDef>Nombre</th>
    <td mat-cell *matCellDef="let student">{{ student.firstName }}</td>
  </ng-container>
  <ng-container matColumnDef="lastName">
    <th mat-header-cell *matHeaderCellDef>Apellido</th>
    <td mat-cell *matCellDef="let student">{{ student.lastName }}</td>
  </ng-container>
  <ng-container matColumnDef="isActive">
    <th mat-header-cell *matHeaderCellDef>Está activo</th>
    <td mat-cell *matCellDef="let student">{{ student.isActive }}</td>
  </ng-container>
  <ng-container matColumnDef="edit">
    <th mat-header-cell *matHeaderCellDef>Editar</th>
    <td mat-cell *matCellDef="let student">
      <button (click)="editStudent(student)" mat-icon-button color="primary">
        <mat-icon>edit</mat-icon>
      </button>
    </td>
  </ng-container>
  <ng-container matColumnDef="delete">
    <th mat-header-cell *matHeaderCellDef>Elimnar</th>
    <td mat-cell *matCellDef="let student">
      <button (click)="removeStudent(student)" mat-icon-button color="warn">
        <mat-icon>delete</mat-icon>
      </button>
    </td>
  </ng-container>

  <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
  <tr mat-row *matRowDef="let row; columns: displayedColumns"></tr>
</table>

</div>