header {
    background-color:beige;
    display: flex;
    flex-direction: row;
    justify-content:space-around;
    font-family:'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}